<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="UserPages/userCommon::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card" style="margin-left: 5%; margin-right: 5%;">
			<div class="card-body">

				<table class="display table table-striped" id="myTable">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Img</th>
							<th scope="col" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody >
						<tr th:each="contact,contactsListIndex : ${contactsList}">
							<th scope="row" th:text="${contactsListIndex.count}"></th>
							<td><a th:href="@{'/user/viewDeatis/'+${contact.contactId}}"> <span th:text="${contact.contactName}"></span></a></td>
							<td th:text="${contact.contactEmail}"></td>
							<td th:text="${contact.contachPhone}"></td>
							<td><img class="profile_Pic" th:src="@{'/IMG/'+${contact.contactImg}}" alt="profile picture" /></td>
							<td>
								<button type="button" class="btn btn-primary">View</button>
								<button type="button" class="btn btn-danger">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
				
					<nav aria-label="...">
					  <ul class="pagination">
					    
					    <li th:if="${currentPage>0}" class="page-item">
					      <a th:href="@{'/user/showContacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a>
					    </li>
					    
					    <li th:classappend="${currentPage==(i-1) ? 'active' :''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/showContacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
					    
					    
					    <li th:if="${currentPage<totalPages-1}" class="page-item">
					      <a th:href="@{'/user/showContacts/'+${currentPage+1}}" class="page-link" href="#">Next</a>
					    </li>
					  
					  </ul>
					</nav>
				
			</div>
		</div>
	</section>
</body>
</html>