<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<link rel="stylesheet" th:href="@{/CSS/style.css}">
<script type="text/javascript" th:src="@{/JS/SCMScript.js}"></script>
<title th:text="${title}">Hello, world!</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
		<div class="container-fluid">

			<a class="navbar-brand" href="/SmartContactManager">Smart Contact
				Manager</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav txet-uppercase" style="margin-left: auto;">

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/user/dashBoard}">Home</a></li>

					<li class="nav-item"><a class="nav-link active" href="#">About</a>
					</li>
					<li><a class="nav-link active" th:if="${User}!=null"
						th:href="@{/user/dashBoard}" tabindex="-1" aria-disabled="true"
						th:text="${User.loginName}"></a> <a class="nav-link active"
						th:unless="${User}!=null" th:href="@{/SingIn}" tabindex="-1"
						aria-disabled="true">Loing</a></li>
					<li class="nav-item"><a class="nav-link active"
						th:if="${User}!=null" th:href="@{/logout}" tabindex="-1"
						aria-disabled="true">Logout</a> <a class="nav-link active"
						th:unless="${User}!=null" th:href="@{/userSignUp}" tabindex="-1"
						aria-disabled="true">SignUp</a></li>
				</ul>

			</div>
		</div>
	</nav>
	<!-- In div we will put over code  -->

	<div class="sidebar">

			<span th:onclick="toggleSidebar()" class="crossBtn">&times;</span>
			<h1 th:text="${User.loginName}"></h1>
				<a href="/user/dashBoard"><i class="fa fa-home"></i>Home</a> 
				<a href="#"><i class="fa fa-book"></i> View Contacts</a> 
				<a th:href="@{/user/addContacts}"><i class="fa fa-plus"></i>Add Contact</a> 
				<a><i class="fa fa-user"></i>Profile</a> 
				<a href="#"><i class="fa fa-gear"></i>Setting</a>
				<a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24"
					viewBox="0 0 24 24" width="24">
					<path d="M0 0h24v24H0z" fill="none" />
					<path
						d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z" /></svg>Logout</a>
			<div class="divider"></div>
		</div>
		
		<div th:replace="${content}" class="content">
		</div>

	
	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
	<footer>
		<div class="watermark">Create By:-Chintan Ganeshwala</div>
	</footer>
</body>
</html>